{% extends 'base.html' %}
{% block content %}
{% if raid_list %}
<div class="container">
  <div class = 'jumbotron'>
    <h1>
      Willkommen bei der Raidliste!
    </h1>
  </div>
</div>
<div class = "container">
  <table class="table table-striped">
    <thead class = "thead-dark">
      <tr>
        <th>Datum</th>
        <th>Instanzname</th>
      </tr>
    </thead>
      {% for log in raid_list %}
      <tr>
        <td><a href={% url 'raid_details' pk=log.pk %} class="badge badge-dark"> {{ log.Raiddatum }}</a></td>
        <td>{{ log.InstanceName }}</td>
<!--

//-->
      </tr>
      {% endfor %}
  </table>
</div>
  <!-- code here to list the books -->
{% else %}
  <p>There are no raids in the library.</p>
{% endif %}
<form method="post">{% csrf_token %}
  <button name='update_logs' type="submit">Logs importieren!</button>
</form>

<nav aria-label="Page navigation example">
  <div class="row justify-content-center align-self-center">
    <ul class="pagination">
      <li class="page-item">
        {% if page_obj.has_previous %}
          <a class='page-link' href="?page={{ page_obj.previous_page_number }}">
            prev
          </a>
        {% else %}
          <span>prev</span>
        {% endif %}
      </li>

      {% for page_number in paginator.page_range %}
        {% if page_number == page_obj.number %}
          <li class="page-item active">
            <span class="page-link">{{ page_number }}</span>
          </li>
        {% else %}
          <li>
            <a class='page-link' href="?page={{ page_number }}">
              {{ page_number }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
      <li>
        {% if page_obj.has_next %}
          <a class='page-link' href="?page={{ page_obj.next_page_number }}">
            next
          </a>
        {% else %}
          <span>next</span>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
