{% extends 'base.html' %}
{% block content %}
<div class='container'>
  <div>
    <table class='table bordered'>
      <thead class="thead-dark">
        <tr>
          <th class='cold-md-4'>{{ spieler.Spielername }}</th>
          <th class='cold-md-4'>{{ spieler.Anlagedatum }}</th>
          <th class='cold-md-4'>{{ spieler.Aktiv }}</th>
        </tr>
      </thead>
      <tbody>
      {% for char in characters %}
        <tr>
          <td>{{ char }}</td>        
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
