asn1crypto==0.24.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.1.4
Django==2.0.2
django-filter==1.1.0
django-webpack-loader==0.6.0
djangorestframework==3.7.7
idna==2.6
Markdown==2.6.11
olefile==0.45.1
Pillow==8.2.0
pycparser==2.18
pyOpenSSL==17.5.0
PySocks==1.6.8
pytz==2018.3
requests==2.18.4
selenium==3.9.0
six==1.11.0
urllib3==1.22
win-inet-pton==1.0.1
wincertstore==0.2
